h2{
    color:green;
font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}


.red-text{
    color:black;
}




/* Default styles */
.container {
  width: 80%;
  margin: 40px auto;
}

/* Styles for screens smaller than 768px (e.g., tablets) */
@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: 20px auto;
  }
}

/* Styles for screens smaller than 480px (e.g., phones) */
@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    margin: 10px auto;
  }
}






